---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  { depth: 2, slug: 'programs', text: '程序项目' },
  { depth: 2, slug: 'learnings', text: '学习笔记' },
  { depth: 2, slug: 'others', text: '其他' },
  { depth: 2, slug: 'gpg-signature', text: 'GPG 签名' },
  { depth: 2, slug: 'sponsorship', text: '赞助支持' }
]
---

<PageLayout title='项目' {headings} view>
  {/* About astro-pure */}
  <div class='not-prose flex justify-center'>
    <a
      href='/docs/advanced/about' target='_blank'
      class='flex items-center gap-x-3 rounded-full border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md'
    >
      <span class='size-2 rounded-full bg-green-400'></span>
      <p class='font-medium text-muted-foreground'>关于 Astro-Theme-Pure 项目</p>
    </a>
  </div>
  <p>Github 活动：</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/cworld1'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <p>
    如果你觉得这些项目有用或有趣，可以通过赞助支持我的工作，或者联系我讨论合作项目。
  </p>
  <Button title='查看赞助方式' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>

  <h2 id='programs'>程序项目</h2>
  <ProjectSection
    projects={[
      {
        name: '🎨 Astro Theme Pure',
        description: '一个简洁、快速且强大的博客和文档主题，基于 Astro 构建',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/astro-theme-pure' },
          { type: 'site', href: 'https://astro-pure.js.org/' },
          { type: 'doc', href: 'https://astro-pure.js.org/docs/list' },
          { type: 'release', href: 'https://www.npmjs.com/package/astro-pure' }
        ]
      },
      {
        name: '💄 PKU Art',
        description: '一个美化北大课程网站的脚本',
        links: [
          { type: 'github', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'site', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'doc', href: 'https://docs.arthals.ink/docs/pku-art' }
        ]
      }
    ]}
  />
  <Collapse title='一些旧项目'>
    <ProjectSection
      projects={[
        {
          name: '🧩 rehype-autolink-headings-simple',
          description: 'rehype-autolink-headings 的简化版本',
          links: [
            { type: 'github', href: 'https://github.com/cworld1/rehype-autolink-headings-simple' },
            {
              type: 'release',
              href: 'https://www.npmjs.com/package/rehype-autolink-headings-simple'
            }
          ]
        },
        {
          name: 'Gaussian NB',
          description: '使用 Python 模拟朴素贝叶斯算法，预测乳腺癌概率',
          links: [{ type: 'github', href: 'https://github.com/cworld1/gaussian-nb' }]
        }
      ]}
    />
  </Collapse>

  <h2 id='learnings'>学习笔记</h2>
  <ProjectSection
    class='my-2'
    projects={[
      {
        name: 'R Learning',
        description: 'R 语言学习笔记和代码',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/r-learning' },
          { type: 'site', href: 'https://cworld1.github.io/r-learning' }
        ]
      },
      {
        name: 'CS 213 Learning',
        description: '计算机系统导论课程笔记、代码和经验',
        links: [
          {
            type: 'github',
            href: 'https://github.com/zhuozhiyongde/Introduction-To-Computer-System-2023Fall-PKU'
          }
        ]
      }
    ]}
  />

  <h2 id='others'>其他</h2>
  <ProjectSection
    projects={[
      {
        name: 'CWorld',
        description: 'CWorld 的 Github 主页',
        links: [{ type: 'github', href: 'https://github.com/cworld1' }]
      },
      {
        name: 'Arthals',
        description: 'Arthals 的 Github 主页',
        links: [{ type: 'github', href: 'https://github.com/zhuozhiyongde' }]
      }
    ]}
  />

  <h2 id='gpg-signature'>GPG 签名</h2>
  <p>
    你可以通过检查 GPG 签名来验证我签署的文件的真实性。我的 GPG 密钥是 <code>114514</code>，你可以在 OpenPGP 密钥服务器上找到它或从那里下载。
  </p>
  <Button href='https://keys.openpgp.org/search?q=114514' title='查看我的密钥' target='_blank'>
    <KeyIcon class='size-5' slot='before' />
  </Button>

  <h2 id='sponsorship'>赞助支持</h2>
  <p>国内方式：<a href="https://afdian.com/a/cworld" target="_blank">爱发电</a>、微信或支付宝</p>
  <Sponsorship
    methods={[
      { name: 'WeChat', icon: 'wechat-pay', image: wechat },
      { name: 'Alipay', icon: 'alipay', image: alipay }
    ]}
  />
  <p>海外方式：<a href="https://ko-fi.com/cworld0" target="_blank">Ko-fi</a></p>
  <p>赞助后请留言或主动联系我。我的邮箱是：
    <code style='cursor: pointer'
      onclick='const m=atob(this.textContent);alert(m);window.open(`mailto:${m}`,"_blank")'
    >Y3dvcmxkMEBxcS5jb20=</code>
    (点击代码转换 base64)。
  </p>
  <p>感谢以下赞助者：</p>
  <Sponsors
    progressMax={50}
    sponsors={[
      { name: 'Juyao Huang', platform: 'Wechat', amount: 5, date: '2026-01-15' },
      { name: 'hoochanlon', platform: 'Wechat', amount: 5, date: '2025-11-09' },
      { name: 'Arthals', platform: 'Wechat', amount: 50, date: '2025-11-06' },
      { name: '边缘星2020 (byx2020.com)', platform: 'Alipay', amount: 50, date: '2025-11-01' },
      { name: '小哲', platform: 'Wechat', amount: 50, date: '2025-08-19' },
      { name: 'Open1V', platform: 'Wechat', amount: 2, date: '2025-08-14' },
      { name: 'Luis Xu', platform: 'Alipay', amount: 30, date: '2025-08-03' },
      { name: '顾**', platform: 'Wechat', amount: 28, date: '2025-06-23' },
      { name: 'Hans J.Han', platform: 'Wechat', amount: 10, date: '2025-04-04' },
      { name: '**青', platform: 'Alipay', amount: 12, date: '2024-05-21' },
      { name: 'Anonymous', platform: 'Wechat', amount: 20, date: '2022-04-06' },
      { name: '华雄', platform: 'QQ', amount: 5, date: '2019-12-30' },
      { name: '◌', platform: 'QQ', amount: 3, date: '2019-12-30' },
      // 酷安@暴走の蜗牛
      { name: 'C*a', amount: 2, date: '2019-07-02' }
    ]}
  />
</PageLayout>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
